@charset "UTF-8";
/*京东页面css的 初始化 */
html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, legend, img { margin:0; padding:0; }
fieldset, img,input,button { border:none; padding:0;margin:0;outline-style:none; }/*去掉蓝色边框*/
ul, ol ,li{ list-style:none; }
input { padding-top:0; padding-bottom:0; font-family: "SimSun","宋体";}
select, input { vertical-align:middle;}
select, input, textarea { font-size:12px; margin:0; }
textarea { resize:none; } /*防止拖动*/
img {border:0;	vertical-align:middle; }  /*  去掉图片低测默认的3像素空白缝隙*/
table { border-collapse:collapse; }
body {
    font:12px/150% Arial,Verdana,"\5b8b\4f53";
    color:#666;
    background:#fff
}
.clearfix:before,.clearfix:after {
    content:"";
    display:table;
}/*清除浮动*/
.clearfix:after{clear:both;}
.clearfix{
    *zoom:1;/*IE/7/6*/
}
a {color:#666; text-decoration:none; }
a:hover{color:#C81623;}
h1,h2,h3,h4,h5,h6 {text-decoration:none;font-weight:normal;font-size:100%;}
s,i,em{font-style:normal;text-decoration:none;}
.col-red{color: #C81623!important;}

/*公共类*/
.w {  /*版心 提取 */
    width: 1210px;margin:0 auto;
}/*位置*/
.fl {
    float:left
}
.fr {
    float:right
}
.al {
    text-align:left
}
.ac {
    text-align:center
}
.ar {
    text-align:right
}
.hide {
    display:none
}

/*头部导航开始*/
.daohanglan{
	width:100%;
	height:30px;
	line-height:30px;
	background-color: #f1f1f1;
}

.dt i,
.fore i{
	font:400 15px/15px "宋体";/*第一个400（字体加粗）15px(字体大小) 15px(行高) 字体*/
    position:absolute;
    right:3px;
    top:13px;
    height:7px;
    overflow: hidden;/*盒子i的高度只有7,现在给菱形定义的高度为15把超出部分隐藏*/
    width:15px;
}
.dt,
.daohanglan .fore
{position: relative;/*子绝父相*/
	padding:0 25px 0 10px;/*并列选择器*/
}
.dt s,
.fore s{
	position: absolute;/*使行内元素有了宽高*/
	top:-8px;
	left:0;
}
.fr li{
	float:left;
	padding:0 10px;
}
.fr .line{
	width:1px;
	height:12px;
	background-color: #ddd;
	margin-top: 9px;
	padding:0;

}
.daohanglan .tel-jd{
	padding: 0 20px 0 25px 

}
.daohanglan .tel{
	position: absolute;
	width:15px;
	height:20px;
	background:url(../images/sprite.png) no-repeat;
	left:2px;
	top:5px;
}
.topbanner{
	background-color:#8A25C6;
}
.close-banner{
	position: absolute;
	right:0;
	top:5px;
    width:19px;
	height:19px;
	background:url(../images/close.png) no-repeat;
}
.tp{
	position:relative;
}
a:hover{
	background-position:bottom;/*定位背景图像*/
}
.logo{
	padding-top:25px;
	width:360px;
	height:75px;
	background:url(../images/logo.png) no-repeat 0 25px;
	/*相当于bachground-position中移动上下轴，上为负，下为正*/
	float:left;
	position: relative;
}
.jd-a{
	display:block;/*a行内元素没有大小转换为块级元素*/
	width:270px;
	height:60px;
	text-indent:-2000em;/*隐藏京东两个字*/
}
.db11{
	position: absolute;
	width:180px;
	height:80px;
	left:168px;
	top:10px;
	background: url(../images/dong.gif);
}
.search
{
    width:534px;
	height:35px;
	float:left;
	position:relative;	
}
.search input{
	width:534px;
	height:35px;
	border:2px solid #B61D1D;
	float:left;
	margin-top:35px;
	padding-left:5px;
	
}
.btn{
	width:60px;
	height:39px;
	margin-top: 35px;
	font-size:16px;
	background: #B61D1D;
	color:#fff;
	position:absolute;
    top:0px;
    right:-63px;
}

.search label{
	position: absolute;
	font-size:16px;
	color:#666;
	left:20px;
	top:45px;
	cursor:text;
}
.car{
	width:96px;
	padding-left: 43px;/*padding:的值加上width的值等于原先width的值*/
	height:34px;
	border:1px solid #ccc;
	float:right;
	position: relative;
	margin-top: 35px;
	line-height:34px;
}
.icon1{
	width:16px;
	height:13px;
	position: absolute;
	left:20px;
	top:10px;
	background: url(../images/sprite.png) no-repeat -1px -59px;
}
.icon2{
	position: absolute;
	top:3px;
	right:6px;
	font-size: 20px;
}
.icon3{
	position: absolute;
	width:25px;
	height:25px;
	background-color: #c81623;
	color:#fff;
	top:-15px;
	right:8px;
	line-height: 25px;
	text-align: center;
	border-radius:9px 9px 9px 0;
}
.w .shows{
	width:500px;
	float:left;
	padding:47px 0;
}
.shows a{
	margin-left: 10px;
}
.nav{
	width:100%;
	height:44px;
	border-bottom:2px solid #B1191A;
}
.list{
	width:210px;
	height:44px;
	float:left;
	background-color:#B1191A; 
	position: relative;
	z-index: 10;
}
.list .dt{

	height:44px;
	/*width:210px;
	line-height: 44px;*/
}
.list .dt a{
	display: block;/*转换为块级元素*/
	height:44px;
	color:#fff;
	font:400 15px "microsoft yahei";
	line-height: 44px;
	padding-left: 40px;
}
.list .dd{
	width:210px;
	height:465px;
	background-color:#e83632; 
}
.navitems{
	width:680px;
	height:44px;
	float:left;
	/*background-color: pink*/
}
.navitems li{
	float:left;
	color:#333;
	
}
.navitems li a {
	display:block;
	font:400 15px/44px "microsoft yahei";
	/*color:#333;*/
	padding: 0 20px;
}
.bike{
	width:140px;
	height:44px;
	background:url(../images/bike.jpg) no-repeat;
	float:right;
	margin-left:40px;
}
.bike a{
	display:block;
	height:44px;
}
/*尾部*/
/*.service{
	height:54px;
	background:#f5f5f5;
	因为父盒子没有高度所以下层盒子跑到上面去，这时要清除浮动
   position:relative;
   padding:20px 0;
}*/
.slogn {
    height: 54px;
    padding: 20px 0;
    background-color: #f5f5f5;
    position: relative;
    margin-bottom: 15px;
}
.item{
	width: 302px;
    position: absolute;
    top: 20px;
    left: 50%;
}
.slogn .slogen1{

	margin-left:-604px;
}
.slogn .slogen2{
	margin-left: -302px;
}
.slogn .slogen3{
	margin-left:5px;
}
.slogn .slogen4{
	margin-left:304px;
}
.service dl{
	width:198px;
	float:left;
	margin-top:15px;
}
.service dt{
	height:28px;
	font-size:16px;
	font-family: "微软雅黑";
}
.service dd{
	height:20px;
}
.coverage{
	width:210px;
	height:165px;
	float:right;
	background: url("../images/china.png") no-repeat bottom left;
	margin-top: 15px;
}
.coverage .dt{
	font-size:16px;
	height:28px;
}
.coverage .dd{
	height:20px;
	margin-top:15px;
}
.coverage .looklook{
 
  text-align: right;
}
.againw{
	border-top:1px solid #E5E5E5;
	margin-top:30px;
	text-align:center;
	padding:23px 0 30px 0;
}
.links{
	height:25px;
   
}
.links a{
	padding: 0 6px;
}

.copyright{
	line-height:18px;
	margin-bottom:10px;
}
#bigbox{
	width:100%;
	height:100%;
	background: rgba(0,0,0,0.1);
	position: fixed;
	display:none;
	top:0;
	left:0;
	z-index:1000;
}
#box{
	/*position: fixed;*/
	width:400px;
	height:300px;
	border:1px solid #ccc;
	display:none;
	top:50%;
	left:50%;
	background-color:#fff;
	margin:-125px 0 0 -200px;
	z-index: 1001;
	position: relative;

}
#close1{
	width:30px;
	height:30px;
	border:1px solid #ccc;
	font: 500 18px/19px "宋体";
	position: absolute;
	right:5px;
	top:5px;
	text-align:center;

}
.sousu{
	width:200px;
	height:20px;
	border:1px solid #ccc;
	}
.p1{
    position:absolute;
	left:80px;
	top:100px;
    }
.p2{
    position:absolute;
	left:80px;
	top:140px;
   }
  .current{
  	background-color: #fff;
  	color:black;
  }



